/* 
REFERENCES
- Pulse Shrink: https://github.com/IanLunn/Hover/blob/5c9f92d2bcd6414f54b4f926fd4bb231e4ce9fd5/css/hover.css#L117-L148
*/

body {
    padding: 0 1% 0 1% ;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin-left: 7%; /* Same as the width as the sidebar*/
}

/* Page title */
.page-header {
    font-family: 'Bellota Text', cursive;
    font-size: x-large;
    font-weight: bolder;
}

.nav-link {
    font-weight: bold;
}

.nav-link-active {
    font-weight: bold;
    background-color: white;

}

/* Sidebar setup */
.sidebar {
    font-family: 'Bellota Text', cursive;
    font-size: 1em;
    font-weight: bold;
    height: 100%;
    width: 7%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #e3f4ff;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 1em;
    border-right: 1px groove #ffffff;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}
div.card {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    color: black;
    display: block;
}

    .sidebar a:hover {
        color: #828282;
    }

#sheffsenseImageHolder {
    padding:0;
}
.sidebar-footer{
    height: 25px;
    position: absolute;
    width: 100%;
    bottom: 0;
    list-style-type: none;
    padding-bottom: 150px;
}

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

/* CSS for the PM10 and PM2.5 Values Of Sensor popup */
#exampleModal {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.td off {
    background-color: red;
}

h2, h3 {
    font-family: 'Bellota Text', cursive;
}

#mainContainer {
    margin-top: 1em;
}

a {
    color: #00B7FF;
}

/* Sidebar images */
#headerimage{
    width: 100px;
}

#githubImage{
    width:100px;
    bottom: 0;
}

#healtheffects {
    border-radius: 5px;
}

#mapid {
    height: 450px;
    margin-bottom: 1%;
    border-radius: 10px;
    padding-right:0;
    padding-left:0;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

    .lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        margin: 8px;
        border: 8px solid #fff;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #fff transparent transparent transparent;
    }

        .lds-ring div:nth-child(1) {
            animation-delay: -0.45s;
        }

        .lds-ring div:nth-child(2) {
            animation-delay: -0.3s;
        }

        .lds-ring div:nth-child(3) {
            animation-delay: -0.15s;
        }

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Pulse Shrink */
@-webkit-keyframes hvr-pulse-shrink {
    to {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
}
@keyframes hvr-pulse-shrink {
    to {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
}
.hvr-pulse-shrink {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-animation-name: hvr-pulse-shrink;
    animation-name: hvr-pulse-shrink;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

div.card {
    padding-left:2%;
    padding-top:1%;
    padding-bottom:2%;
    margin-bottom:2%
}



/* The slider itself */
.slider {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

    /* Mouse-over effects */
    .slider:hover {
        opacity: 1; /* Fully shown on mouse-over */
    }

    /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
    .slider::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        width: 25px; /* Set a specific slider handle width */
        height: 25px; /* Slider handle height */
        background: #4CAF50; /* Green background */
        cursor: pointer; /* Cursor on hover */
    }

    .slider::-moz-range-thumb {
        width: 25px; /* Set a specific slider handle width */
        height: 25px; /* Slider handle height */
        background: #4CAF50; /* Green background */
        cursor: pointer; /* Cursor on hover */
    }

.loader {
    display:    none;
    position:   fixed;
    z-index:    10000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba(255, 255, 255, 0.4) 
                url('ajax-loader.gif') 
                50% 50% 
                no-repeat;
}
    
body.loading .loader {
    overflow: hidden;   
}

body.loading .loader {
    display: block;
}

#currentAQI {
    text-align: center;
}

#power-gauge {
    height: 160px;
    text-align: center;
}

#power-gauge g.arc {
    fill: steelblue;
}

#power-gauge g.pointer {
    fill: #e85116;
    stroke: #b64011;
}

#power-gauge g.label text {
    text-anchor: middle;
    font-size: 14px;
    font-weight: bold;
    fill: #666;
}