extends layout

block content
    script(src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js", integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==", crossorigin="")
    script(src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js')
    link(href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet')

    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js")
    script(src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8")
    script(src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.7")

    body

        div(class="sidebar")
            div(class="sidebar-header")
                a(href="https://github.com/dambem/ClimateMonitorV2", id="sheffsenseImageHolder", target="_blank")
                    img(class="img-fluid", id="sheffsenseImage", src="sheffsense.png", alt="The Sheffsense logo: A colourful mosaic circle on a blurred landscape background")
            div(class="sidebar-section")
                img(class="sidebar-icon" src="https://img.icons8.com/ios/20/000000/home.png")
                a(class="nav-link" href="/") Home
            div(class="sidebar-section-active")
                img(class="sidebar-icon" src="https://img.icons8.com/ios/20/000000/about.png")
                a(class="nav-link" href="/about") About
            div(class="sidebar-section")
                img(class="sidebar-icon" src="https://img.icons8.com/ios/20/000000/statistics.png")
                a(class="nav-link" href="/detailedstats") Statistics
            div(class="sidebar-footer")
                a(href="https://urbanflows.ac.uk/" target="_blank")
                    img(class="img-fluid", id="urbanflowsimage", src="images/urbanlogo.png", alt="The Urban Flows logo: A ring of navy, lilac & green dots interlaced with a star made of purple dots")
        div(class="row")
            div(class="accordion" id="accordionInfo")
                div(class="card")
                    div(class="card-header" id="headerWhatIs")
                        h2(class="mb-0")
                            button(class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseWhatIs" aria-expanded="true" aria-controls="collapseWhatIs")
                                h3() What is PM10 and PM2.5?
                    div(class="collapse show" id="collapseWhatIs" aria-labelledby="headerWhatIs" data-parent="#accordionInfo")
                        div(class="card-body")
                            p PM is a generic term used to describe mixtures of solids and liquids in varying size. The main source of man-made PM is through the combustion of fuels (E.g, Vehicles and Industry)
                            p <b>PM10</b> Refers to course particles that are less than 10 microns (?m) in diameter
                            p <b>PM2.5</b> Refers to particles that are less than 2.5 (?m) in diameter.
                            p There is an extensive body of evidence that <b>long-term exposure to PM increases mortality and morbidity from cardiovascular and respiratory diseases. </b> It has also been classified by the International Agency for Research on Cancer as <b>carcinogenic to humans (a Group 1 carcinogen) and a cause of lung cancer. </b> 
                            img(class="img-fluid", src="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/image_data/file/81099/sources-100.jpg")
                            img(class="img-fluid", src="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/image_data/file/81010/Infographic_on_the_scale_of_the_problem_with_air_pollution.jpg")
    footer
        a(href="https://www.gov.uk/government/publications/health-matters-air-pollution/health-matters-air-pollution?fbclid=IwAR1WCj4WuVHtGuDehhsQZ682MUpF4MIdM2AL8i4Z6UvyjnIkOiePaYjrQks") Information and images from Gov.UK

