extends layout

block content
    script(src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js", integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==", crossorigin="")
    script(src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js')
    link(href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet')

    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js")
    script(src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8")
    script(src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.7")
    script(src="https://cdn.jsdelivr.net/npm/litepicker/dist/js/main.js")

    
    body
        script(src="https://d3js.org/d3.v2.min.js")
        //script(type='module', src="/javascripts/gauge.js")

        div(class="sidebar")
            div(class="sidebar-header")
                a(href="https://github.com/dambem/ClimateMonitorV2", id="sheffsenseImageHolder", target="_blank")
                    img(class="img-fluid", id="sheffsenseImage", src="sheffsense.png", alt="The Sheffsense logo: A colourful mosaic circle on a blurred landscape background")
            div(class="sidebar-section-active")
                img(class="sidebar-icon" src="icons/home.svg")
                a(class="nav-link" href="/") Home
            div(class="sidebar-section")
                img(class="sidebar-icon" src="icons/info.svg")
                a(class="nav-link" href="/about") About
            div(class="sidebar-section")
                img(class="sidebar-icon" src="icons/statistics.svg")
                a(class="nav-link" href="/detailedstats") Statistics
            div(class="sidebar-section")
                img(class="sidebar-icon" src="icons/group.svg")
                a(class="nav-link" href="/our-team") Our Team
            div(class="sidebar-footer")
                a(href="https://urbanflows.ac.uk/" target="_blank")
                    img(class="img-fluid", id="urbanflowsimage", src="images/urbanlogo.png", alt="The Urban Flows logo: A ring of navy, lilac & green dots interlaced with a star made of purple dots")

        #exampleModal.modal.fade.modal-lg(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
            .modal-dialog.modal-lg(role='document')
                .modal-content
                    .modal-header
                        h5#exampleModalLabel.modal-title PM10 and PM2.5 Values Of Sensor 
                        button.close(type='button' class="ripple" data-dismiss='modal' aria-label='Close')
                            span(aria-hidden='true') &times;
                    .modal-body
                        div(class="container-fluid")
                            div(class="row")
                                div(class="col-md-12")
                                    canvas(id="pm2Chart" width="400" height="200")
                            div(class="row")
                                div(class="col-md-12")
                                    canvas(id="pm10Chart" width="400" height="200")
                                //input(type="text" name="daterange" value="01/01/2018 - 01/15/2018") 
                                //div(class='slidecontainer')
                                //    input(type="range", min=-364, max=0, value=0, class="slider", id="myRange")
                                //div(id='value') Today
                            div(class="row")
                                div(class="col-md-6", id="modalbutton")
                                        button(id="available_dates" class="ripple") Get Available Dates
                                div(class="col-md-6")
                                    p() Days To Search:
                                    input(type="number" id="days" name="days" value= 100) 
                            div(class="row")
                                div(class="col-md-12")
                                    input(id="litepicker" style="display:none")
                    .modal-footer
                        button(type='button' class="ripple"  data-dismiss='modal') Close

        div(class='container-fluid' id="mainContainer")
            div(class="row")
                div(class="col-md-12")
                    div(id='mapid')
                        div(class="loader")
            div(class="row")
                div(class="col-md-4")
                    div(class="col-md-12")
                        div(class="card")
                            div(class="card-body")
                                h3() PM10 and PM2.5 Pollution Guidelines
                                div(class='pollutionChart')
                                    canvas(id='pollutionChart' height="400")
                        div(class="card")
                            h2() Current Weather Conditions in Sheffield
                            div(class="card-body")
                                div(class='weatherTable')
                                    table(style='width:100%', border='0')
                                        tr
                                            th Temperature
                                            th Wind Speed
                                            th Conditions
                                        tr 
                                            td(id="currentTemp")
                                            td(id="currentWind")
                                            td(id="currentCondition")
                                                img(class="img-fluid", id="weather-image", src="../files/weather-icons/44.png", width='50px',alt="A forecast-style weather icon for the current weather conditions") 
                div(class="col-md-8")
                    div(class="card")
                        h2() Current Average Pollution Levels In Sheffield
                            h4(id="pm10averageheader")
                                h6(id="pm10averagetotal")
                                p1(id="pm10averagedesc")
                            hr
                            h4(id="pm2averageheader")
                                h6(id="pm2averagetotal")
                                p1(id="pm2averagedesc") 
                            hr
                            h4(id="aqi-header")
                            div(id="air-quality")
                                div(id="power-gauge")
                                h4(id="currentAQI")
                                h6(id="currentCategory")
                                h6(id="currentMessageGeneral")
                                h6(id="currentMessageSensitive")
                            div(class="col-md-12" id = "healtheffects")
                    div(class="card")
                        div(class="card-body")
                            div(class="card-title")
                                h2() Health Effects
                            h3() But what do the pollution values actually mean?
                            div(class="col-md-12")
                                div(id="cigarettes")
                            div(class="col-md-12")
                                br
                                div(id="mortality_pm10") 
                            div(class="col-md-12")
                                br
                                div(id="danger_level2")
                div(class="col", style="margin-left:2%;")
                    div(class="card")
                        div(class="card-title")
                            h2() Here are some nice graphs of daily and average readings of PM2.5 & PM10
                        div(class="card-body")
                            div(id="pythongraphslideshow" class="carousel slide" data-ride="carousel")
                                ol(class="carousel-indicators" id="graph_carousel_indicators")
                                    li(data-target="#pythongraphslideshow" data-slide-to="0" class="active")
                                div(class="carousel-inner")
                                    div(id="carosuel_items")
                                a(class="carousel-control-prev" href="#pythongraphslideshow" role="button" data-slide="prev")
                                    span(class="carousel-control-prev-icon" aria-hidden="true")
                                    span(class="sr-only") Previous
                                a(class="carousel-control-next" href="#pythongraphslideshow" role="button" data-slide="next")
                                    span(class="carousel-control-next-icon" aria-hidden="true")
                                    span(class="sr-only") Next
        script(type='text/javascript' src='/javascripts/config.js')
        script(type="text/javascript" src="/javascripts/backup_data.js")
        script(type='module', src='/javascripts/new_mapping.js')
    script(src="https://cdn.jsdelivr.net/npm/litepicker/dist/js/main.js")
    footer(id = "sticky-footer" class="py-4 bg-light text-white-50")
        div(class="container text-center")
            a(href="https://urbanflows.ac.uk/")
                img(class="img-fluid", src="images/urbanflows.png", href="https://urbanflows.ac.uk/", alt="The Urban Flows logo (A ring of navy, lilac, purple & green dots) with navy text reading: Urban Flows Observatory") 
