extends layout

block content
  script(src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js", integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==", crossorigin="")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js")
  body
     //input(name='dates')
     div(class='container-fluid')
        div(class="row")
            div(class="col-md-8")
                 div(class="col-md-12")
                    div(id='currentdate') ???
                 div(class="col-md-12")
                     div(id='mapid')
                 div(class="col-md-12")
                    div(class='slidecontainer')
                         input(type="range", min=-364, max=0, value=0, class="slider", id="myRange")
                 div(id='value') Today

            div(class="col-md-4")
                 div(class='myChart')
                    canvas(id='myChart', height='350')
        div(class="row")
            div(class="tab-content", id="nav-tabContent")
                div(class="tab-pane fade show active", id="list-info", role="tabpanel", aria-labelledby="list-info-list")
                    h3 What is PM10 and PM2.5?
                    p PM is a generic term used to describe mixtures of solids and liquids in varying size. The main source of man-made PM is through the combustion of fuels (E.g, Vehicles and Industry)
                    p <b>PM10</b> Refers to course particles that are less than 10 microns (µm) in diameter
                    p <b>PM2.5</b> Refers to particles that are less than 2.5 (µm) in diameter.
                    p There is an extensive body of evidence that <b>long-term exposure to PM increases mortality and morbidity from cardiovascular and respiratory diseases. </b> It has also been classified by the International Agency for Research on Cancer as <b>carcinogenic to humans (a Group 1 carcinogen) and a cause of lung cancer. </b> 
                    img(class="img-fluid", src="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/image_data/file/81099/sources-100.jpg")
                    img(class="img-fluid", src="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/image_data/file/81010/Infographic_on_the_scale_of_the_problem_with_air_pollution.jpg")
                    a(href="https://www.gov.uk/government/publications/health-matters-air-pollution/health-matters-air-pollution?fbclid=IwAR1WCj4WuVHtGuDehhsQZ682MUpF4MIdM2AL8i4Z6UvyjnIkOiePaYjrQks") Information and images from Gov.UK


     script(type='text/javascript', src='/javascripts/new_mapping.js')
  script(src="https://d3js.org/d3.v5.min.js")
  footer
